@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root {
    --body-font: 'Poppins', sans-serif;
}
body {
    font-family: var(--body-font);
    color: black;
    //font-weight: 500;
}
// body {
//     background-image: url("../img/food-photo.jpg");
//     background-size: cover;
//     background-attachment: fixed;
// }
.home {
    // background-color: red;
    // background-color: brown;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    height: calc(100vh - #{$height-header});
    &__menu {
        margin: auto 0;
    }
    &__img {
        margin-top: 2rem;
    }
    &__title {
        font-size: 4rem;
        color: #069C54;
    }
    &__description {
        font-size: 2.3rem;
        padding-bottom: 2rem;
    }
}
.services {
    display: flex;
    width: 80%;
    margin: auto;
    // background-color: blueviolet;
    height: calc(100vh - #{$height-header});
    &__name-nav {
        color: $colour-primary;
    }
    &__img {
        width: 50%;
        padding: 3rem;
    }
    &__menu {
        padding: 3rem;
        margin: auto 0;
    }
    &__title {
        font-size: 2rem;
    }
    &__description {
        color: black;
    }
}